# PostgreSQL
PGSQL_USER=your_user
PGSQL_PASSWORD=your_password
PGSQL_HOST=localhost
PGSQL_PORT=5432
PGSQL_DATABASE=your_database

# MySQL
MYSQL_USER=your_user
MYSQL_PASSWORD=your_password
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=your_database